version: '3.8'

services:
  mqtt:
    image: eclipse-mosquitto
    container_name: mqtt-broker
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/config/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log

  postgres:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/migrations/migrations.sql:/docker-entrypoint-initdb.d/migrations.sql

  backend:
    build: ./backend
    container_name: backend-service
    restart: always
    depends_on:
      - postgres
      - mqtt
    environment:
      DB_USER: myuser
      DB_PASSWORD: mypassword
      DB_DATABASE: mydatabase
      DB_HOST: postgres
      MQTT_HOST: mqtt://mqtt
    command: npm start
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: frontend-service
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  postgres_data:

